.home-section {
  background-color: #7b8491; // grey-blue background
  overflow: hidden;

  .user-intro{
    background-color: #333b50;
  }
  .into-text{
    line-height: 30px;
  }
}

.home-content {
  color: #ffffff;
  text-transform: uppercase;
}

.intro-text {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.name-text {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 6px;
  line-height: 1.1;
}

.role-text {
  font-size: 1rem;
  letter-spacing: 4px;
  opacity: 0.9;
}

.highlight {
  color: #1fd35a; 
}

.dot {
  color: #1fd35a;
}




@media (max-width: 992px) {
  .intro-text {
    font-size: 3rem;
  }

  .name-text {
    font-size: 3.5rem;
  }
}
